* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  $padding-inline-value: 36px;
  max-width: 1200px + 2 * $padding-inline-value;
  margin-inline: auto;
  padding-inline: $padding-inline-value;
}

.wrapper {
  padding-block: 48px;
}

.wrapper .topNav_logo {
  height: 32px;
  align-items: center;
}

.nav {
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: larger;
  font-family: "Chakra Petch", sans-serif;
  container-type: inline-size;
  container-name: nav;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
  }
  &__menuWrapper {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }
  .lt680px {
    display: none;
  }
  @container nav (width < 42.5rem) {
    &__menuWrapper {
      display: none;
    }
    .lt680px {
      display: unset;
    }
  }
  &__menu > a {
    color: white;
    text-decoration: none;
  }
}
#hero1 {
  font-family: "Noto Sans KR", sans-serif;
  .wrapper {
    display: flex;
    padding-top: 5rem;
    & > * {
      flex: 1;
    }
    gap: 24px;
    align-items: center;
  }
  .main {
    &__media {
      aspect-ratio: 1 / 1;
      background-color: black;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  h1 {
    font-size: 60px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
  }
  @media (max-width: 850px) {
    .wrapper {
      display: block;
      text-align: center;
      h1 {
        font-size: 40px;
        margin-top: 12px;
      }
      p {
        margin-inline: auto;
        font-size: 13px;
      }
    }
  }
}

.track {
  font-weight: 700;
  font-size: 28px;
  @media (max-width: 850px) {
    .wrapper {
      font-size: 14px;
    }
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-block: 6px;
  }
  &__menuWrapper {
    display: flex;
    gap: 20px;
    align-items: baseline;
  }
  .button {
    color: white;
    background-color: grey;
    padding: 8px 12px;
    border-radius: 12px;
    a {
      color: white;
      text-decoration: none;
    }
  }

  @media (max-width: 850px) {
    .button {
      padding: 4px 6px;
    }
  }
}
#hero2 {
  font-family: "Noto Sans KR", sans-serif;
  .wrapper {
    display: flex;
    padding-top: 6rem;
    & > * {
      flex: 1;
    }
    gap: 24px;
    align-items: center;
  }
  .main {
    &__media {
      aspect-ratio: 1 / 1;
      background-color: black;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  h1 {
    font-size: 60px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
  }
  span {
    font-size: 32px;
  }
  @media (max-width: 850px) {
    .wrapper {
      display: block;
      text-align: center;
      h1 {
        font-size: 40px;
        margin-top: 12px;
      }
      p {
        margin-inline: auto;
        font-size: 13px;
      }
    }
  }
}

#hero3 {
  font-family: "Noto Sans KR", sans-serif;
  .wrapper {
    display: flex;
    padding-top: 6rem;
    & > * {
      flex: 1;
    }
    gap: 24px;
    align-items: center;
  }
  .main {
    &__media {
      aspect-ratio: 1 / 1;
      background-color: black;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  h1 {
    font-size: 60px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
  }
  @media (max-width: 850px) {
    .wrapper {
      display: block;
      text-align: center;
      h1 {
        font-size: 40px;
        margin-top: 12px;
      }
      p {
        margin-inline: auto;
        font-size: 13px;
      }
    }
  }
}

#hero4 {
  font-family: "Noto Sans KR", sans-serif;
  .wrapper {
    display: flex;
    padding-top: 6rem;
    & > * {
      flex: 1;
    }
    gap: 24px;
    align-items: center;
  }
  .main {
    &__media {
      aspect-ratio: 1 / 1;
      background-color: black;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  h1 {
    font-size: 55px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
  }
  span {
    font-size: 30px;
  }
  @media (max-width: 850px) {
    .wrapper {
      display: block;
      text-align: center;
      h1 {
        font-size: 35px;
        margin-top: 12px;
      }
      p {
        margin-inline: auto;
        font-size: 13px;
      }
      span {
        font-size: 25px;
      }
    }
  }
}

.track {
  font-weight: 700;
  font-size: 28px;
  @media (max-width: 850px) {
    .wrapper {
      font-size: 14px;
    }
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-block: 6px;
  }
  &__menuWrapper {
    display: flex;
    gap: 20px;
    align-items: baseline;
  }
  .button {
    color: white;
    padding: 8px 12px;
    border-radius: 12px;
    a {
      color: white;
      text-decoration: none;
    }
  }
  @media (max-width: 850px) {
    .button {
      padding: 4px 6px;
    }
  }
}

#hero5 {
  font-family: "Noto Sans KR", sans-serif;
  .wrapper {
    display: flex;
    padding-top: 6rem;
    & > * {
      flex: 1;
    }
    gap: 24px;
    align-items: center;
  }
  .main {
    &__media {
      aspect-ratio: 1 / 1;
      background-color: black;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  h1 {
    font-size: 55px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
  }
  span {
    font-size: 30px;
  }
  @media (max-width: 850px) {
    .wrapper {
      display: block;
      text-align: center;
      h1 {
        font-size: 30px;
        margin-top: 12px;
      }
      p {
        margin-inline: auto;
        font-size: 13px;
      }
      span {
        font-size: 25px;
      }
    }
  }
}

#trackN1 {
  margin-bottom: 120px;
}
.footer {
  font-family: "Roboto", sans-serif;
  background-color: #b3b3b3;
  color: white;
  font-size: 16px;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer li {
  list-style: none;
}
.footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.footer h2 {
  margin-bottom: 16px;
  margin-top: 2px;
}
.footer li {
  margin-bottom: 6px;
}
@media (max-width: 850px) {
  .footer li {
    font-size: 12px;
  }
}

#column1 {
  margin-top: 46px;
}

#column2 {
  margin-top: 46px;
}
