@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  $padding-inline-value: 64px;
  max-width: 1200px + 2 * $padding-inline-value;
  margin-inline: auto;
  padding-inline: $padding-inline-value;
}

.wrapper {
  padding-block: 48px;
}

.wrapper .topNav_logo {
  height: 32px;
  align-items: center;
}

.nav {
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: larger;
  font-family: "Noto Sans KR", sans-serif;
  container-type: inline-size;
  container-name: nav;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
  }
  &__menuWrapper {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }
  .lt680px {
    display: none;
  }
  @container nav (width < 42.5rem) {
    &__menuWrapper {
      display: none;
    }
    .lt680px {
      display: unset;
    }
  }
  &__menu > a {
    color: white;
    text-decoration: none;
  }
}

#heroN1 {
  h2 {
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-size: 70px;
    color: black;
    // background-color: #6a6a6a;
  }
}
#hero1 {
  .wrapper {
    display: flex;
    & > * {
      flex: 1;
    }
    gap: 24px;
    align-items: center;
  }
  .main {
    &__media {
      aspect-ratio: 1 / 1;
      background-color: black;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
  }
  @media (max-width: 850px) {
    .wrapper {
      display: block;
      text-align: center;
      h1 {
        font-size: 40px;
        margin-top: 12px;
      }
      p {
        margin-inline: auto;
        font-size: 15px;
      }
    }
  }
}
#track {
  .wrapper {
    padding-block: 48px;
  }
}
