@import "theme.dark.css" (prefers-color-scheme: dark);
@import "theme.light.css" (prefers-color-scheme: light);

$wrapper-padding-inline: 2rem;
$min-height: 2rem;
$progressBar-height: 1rem;

$bg: var(--bg);
$bgVariant: var(--bgVariant);
$txt: var(--txt);
$surface-transparent: var(--surface-transparent);
$surface: var(--surface);
$onSurface: var(--onSurface);
$accent: var(--accent);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: $bg;
  color: $txt;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

section {
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 4rem;
  max-width: calc(80ch + 2 * $wrapper-padding-inline);
  // min-height: max(90dvh, $min-height);
  min-height: max(600px, 100dvh);
  margin-inline: auto;
  padding-inline: $wrapper-padding-inline;
}

$h1-opacity-start: 0;
$h1-opacity-end: 1;

@keyframes fade-in {
  from {
    opacity: $h1-opacity-start;
  }
  to {
    opacity: $h1-opacity-end;
  }
}

h1 {
  animation: fade-in 2.5s ease-in;
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.content {
  // border: 1px solid red; //나중에 삭제;
}

.animTrigger {
  h2.animTarget {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
  }
  &.triggered {
    h2.animTarget {
      animation: typing-animation 2s linear forwards;
    }
  }
}
@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} //Episode

#section1 {
  img.animTarget {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  &.triggered {
    img.animTarget {
      opacity: 1;
    }
  }
}

#section2 {
  img.animTarget {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    animation: wiggle 2s linear infinite;
  }
  &.triggered {
    img.animTarget {
      opacity: 1;
    }
  }
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

#section3 img.animTarget {
  filter: grayscale(100%);
  transition: filter 500ms ease, transform 500ms ease;
}

#section3 img.animTarget:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

#section4 {
  img.animTarget {
    filter: blur(8px);
    transition: filter 4s ease;
  }
  &.triggered {
    img.animTarget {
      filter: blur(0);
    }
  }
}

#section5 {
  img.animTarget {
    transform: scale(0);
    transition: transform 1s ease-out;
  }
  &.triggered {
    img.animTarget {
      transform: scale(1);
    }
  }
}

#section6 {
  img.animTarget {
    opacity: 0;
    transition: opacity 8s ease-in-out;
  }
  &.triggered {
    img.animTarget {
      opacity: 1;
      animation: blink 2s ease-in-out 1;
    }
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#section7 {
  .content {
    overflow: hidden;
  }
  img.animTarget {
    position: relative;
    transform-origin: top center;
    animation: zoomOut 3s ease-in-out forwards;
    margin-bottom: 170px;
  }
  &.triggered {
    img.animTarget {
      animation: zoomIn 3s ease-in-out forwards;
    }
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

#section8 {
  img.animTarget {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  &.triggered {
    img.animTarget {
      opacity: 1;
      transform-origin: bottom;
      animation: fadeIn 1s forwards;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

#section9 {
  img.animTarget {
    filter: grayscale(0);
    transition: filter 2s ease-in-out;
  }

  &.triggered {
    img.animTarget {
      filter: grayscale(100%);
    }
  }
}

#section10 {
  img.animTarget {
    position: relative;
    overflow: hidden;
    animation: ripple 0.8s ease-in-out infinite;
  }

  @keyframes ripple {
    0% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-10px);
    }
  }
}
// #section11 {
//   img.animTarget {
//     transition: transform 0.3s ease-out;
//   }

//   &.triggered {
//     img.animTarget {
//       transform: translateY(20px);
//     }
//   }
// }
// #section11 {
//   img.animTarget {
//     transition: transform 2s ease-in-out;
//   }

//   &.triggered {
//     img.animTarget {
//       transform: scale(0);
//       opacity: 1;
//       transition-delay: 2s;
//     }
//   }
// }

// #section11 {
//   img.animTarget {
//     transition: transform 0.3s ease-in-out;
//   }

//   img.animTarget:hover {
//     transform: scale(0);
//     opacity: 0;
//   }
// }
// #section11 {
//   img.animTarget {
//     transition: opacity 0.3s ease-in-out;
//     opacity: 1;
//   }

//   img.animTarget:hover {
//     opacity: 0;
//     pointer-events: none;
//   }
// }
// #section11 {
//   img.animTarget {
//     transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
//     transform-origin: center;
//     opacity: 1;
//   }

//   img.animTarget:hover {
//     transform: scale(0);
//     opacity: 0;
//   }
// }
// #section11 {
//   img.animTarget {
//     transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
//     transform-origin: center;
//     opacity: 1;
//   }

//   img.animTarget:hover {
//     animation: shrink-and-disappear 0.3s;
//     animation-fill-mode: forwards;
//   }
#section11 {
  img.animTarget {
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }

  img.animTarget:hover {
    opacity: 0;
  }
}

@keyframes shrink-and-disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

#section12 {
  img.animTarget {
    animation: shake 0.5s linear infinite;
    animation-play-state: paused;
  }

  &.triggered {
    img.animTarget {
      animation-play-state: running;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(2deg);
  }
  75% {
    transform: translateX(-2px) rotate(-2deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

// .animTrigger {
//   position: relative;
// }

// .animTrigger::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: red;
//   opacity: 0;
//   animation: blink 2s infinite;
// }

// @keyframes blink {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
// #section10 .animTrigger {
//   position: relative;
// }

// #section10 .animTrigger::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: red;
//   opacity: 0;
//   animation: blink 2s infinite;
// }

// @keyframes blink {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }

/* #section11부터의 섹션에 대해서도 반복적으로 설정해주세요 */

// #section1 .animTrigger::before {
//   animation-delay: 0s;
// }

// #section2 .animTrigger::before {
//   animation-delay: 0.2s;
// }

// #section3 .animTrigger::before {
//   animation-delay: 0.4s;
// }

h2 {
  font-family: "Roboto Slab", serif;
}

header {
  text-align: center;
  text-wrap: balance;
  word-break: keep-all;
}

section:nth-of-type(even) {
  background-color: $bgVariant;
}

.stickyWrapper {
  display: grid;
  position: relative;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

img,
video,
svg {
  max-width: 100%;
  display: block;
  margin-block: 3rem;
}

main {
  z-index: 1;
  grid-column: 1 / span 2;
  grid-row: 1;
}

aside {
  position: sticky;
  top: 0;
  z-index: 3;
  grid-column: 1;
  grid-row: 1;
  width: fit-content;
  height: max(100dvh, $min-height);
  padding-inline: 1rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  background-color: $surface-transparent;
  backdrop-filter: blur(0.25rem);
  font-size: 0.875rem;

  ol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-content: center;
      gap: 0.75rem;
      color: $onSurface;
      font-weight: 600;
      text-transform: capitalize;
      transition: color 150ms ease-out;

      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        margin-top: 0.125rem;
        border-radius: 3px;
        border: 0.125rem solid $onSurface;
        transition: border-color 150ms ease-out, background-color 150ms ease-out;
      }
      &:hover {
        color: $accent;
        &::before {
          border-color: $accent;
        }
      }
      &.pressed {
        color: $accent;
        &::before {
          border-color: $accent;
          background-color: $accent;
        }
      }
    }
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.progressBar {
  position: sticky;
  top: 0;
  z-index: 2;
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
  height: $progressBar-height;
  background-color: $surface;
  .indicator {
    position: absolute;
    inset: 0;
    transform: scaleX(0);
    transform-origin: left;
    background-color: $accent;
  }
}

footer {
  .wrapper {
    min-height: max(100dvh, $min-height);
  }
}

@media (width < 67.5rem) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
  main {
    grid-column: 1;
    grid-row: 3;
  }

  h1 {
    font-size: 36px;
  }

  aside {
    position: sticky;
    top: $progressBar-height;
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: fit-content;
    padding-block: 1rem;
    padding-inline: unset;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    border-radius: 0 0 1rem 1rem;

    ol {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;

      a:first-of-type li {
        margin-left: $wrapper-padding-inline;
      }

      a:last-of-type li {
        margin-right: $wrapper-padding-inline;
      }
    }

    .progressBar {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

@media (width < 59.2rem) {
  aside {
    top: $progressBar-height;
    position: sticky;
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: fit-content;
    padding-block: 1rem;
    padding-inline: unset;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    border-radius: 0 0 1rem 1rem;

    ol {
      justify-content: flex-start;
    }
  }
}
