@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  $padding-inline-value: 64px;
  max-width: 1200px + 2 * $padding-inline-value;
  margin-inline: auto;
  padding-inline: $padding-inline-value;
}

.wrapper {
  padding-block: 64px;
}
.wrapper .topNav_logo {
  height: 32px;
  align-items: center;
}

.nav {
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: larger;
  font-family: "Noto Sans KR", sans-serif;
  container-type: inline-size;
  container-name: nav;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
  }
  &__menuWrapper {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }
  .lt680px {
    display: none;
  }
  @container nav (width < 42.5rem) {
    &__menuWrapper {
      display: none;
    }
    .lt680px {
      display: unset;
    }
  }
  &__menu > a {
    color: white;
    text-decoration: none;
  }
}

#hero1 {
  text-align: center;
  .main {
    &__text {
      margin-inline: auto;
      max-width: 1000px;
      margin-bottom: 24px;
      font-size: 50px;
      line-height: 1.7;

      font-family: "Roboto", sans-serif;
    }
    &__media {
      aspect-ratio: 16 / 9;
      background-color: black;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  h2 {
    margin-bottom: 24px;
    // font-weight: 1200;
    font-style: italic;
    font-size: 70px;
    font-family: "Roboto", sans-serif;
  }
  // span {
  //   font-style: italic;
  // }
  p {
    margin-top: 42px;
    max-width: 1200px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
  }
}

#hero2 {
  container-type: inline-size;
  container-name: hero2;
  text-align: center;
  background-color: #e6e6e6;
  .main {
    &__text {
      margin-inline: auto;
      max-width: 1200px;
      font-size: larger;
      font-family: "Roboto", sans-serif;
    }
  }
  h2 {
    margin-bottom: 16px;
    font-weight: 900;
    font-style: italic;
    font-size: 70px;
  }
  h3 {
    color: #666666;
    font-size: 30px;
    word-spacing: 16px;
  }
  @container hero2 (max-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

#hero3 {
  // container-type: inline-size;
  // container-name: hero3;
  .wrapper {
    display: flex;
    & > * {
      flex: 1;
    }
    gap: 24px;
    align-items: center;
  }
  .main {
    &__media {
      aspect-ratio: 4 / 5;
      background-color: black;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__text {
      margin-inline: auto;
      max-width: 100%;
      font-size: larger;
      text-size-adjust: none;
      font-family: "Noto Sans KR", sans-serif;
    }
  }
  h1 {
    margin-block: 16px;
    font-size: 47px;
  }
  p {
    max-width: 20h;
    font-size: 20px;
    gap: 24px;
    word-spacing: 5px;
    line-height: 2;
  }
  // @container hero3 (width < 53.125rem) {
  //   &__media {
  //     display: block;
  //     text-align: center;
  //     p {
  //       margin-inline: auto;
  //     }
  //   }
  @media (max-width: 850px) {
    .wrapper {
      display: block;
      text-align: center;
      p {
        margin-inline: auto;
      }
    }
  }
  // @media (max-width: 480px) {
  //   .wrapper {
  //     width: auto;
  //     float: none;
  //   }
  // }
}

#hero4 {
  .wrapper {
    display: flex;
    & > * {
      flex: 1;
    }
    gap: 24px;
    align-items: center;
  }
  .main {
    &__media {
      aspect-ratio: 4 / 5;
      background-color: black;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__text {
      margin-inline: auto;
      max-width: 100%;
      font-size: larger;
      text-size-adjust: none;
      font-family: "Noto Sans KR", sans-serif;
    }
  }
  h1 {
    margin-block: 16px;
    font-size: 47px;
  }
  p {
    max-width: 20h;
    font-size: 20px;
    gap: 24px;
    word-spacing: 5px;
    line-height: 2;
  }
  @media (max-width: 850px) {
    .wrapper {
      display: block;
      text-align: center;
      p {
        margin-inline: auto;
      }
    }
  }
}

#hero5 {
  .wrapper {
    display: flex;
    & > * {
      flex: 1;
    }
    gap: 24px;
    align-items: center;
  }
  .main {
    &__media {
      aspect-ratio: 4 / 5;
      background-color: black;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__text {
      margin-inline: auto;
      max-width: 100%;
      font-size: larger;
      text-size-adjust: none;
      font-family: "Noto Sans KR", sans-serif;
    }
  }
  h1 {
    margin-block: 16px;
    font-size: 47px;
  }
  p {
    max-width: 20h;
    font-size: 20px;
    gap: 24px;
    word-spacing: 5px;
    line-height: 2;
  }
  @media (max-width: 850px) {
    .wrapper {
      display: block;
      text-align: center;
      p {
        margin-inline: auto;
      }
    }
  }
}

#hero6 {
  .wrapper {
    display: flex;
    & > * {
      flex: 1;
    }
    gap: 24px;
    align-items: center;
  }
  .main {
    &__media {
      aspect-ratio: 4 / 5;
      background-color: black;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__text {
      margin-inline: auto;
      max-width: 100%;
      font-size: larger;
      text-size-adjust: none;
      font-family: "Noto Sans KR", sans-serif;
    }
  }
  h1 {
    margin-block: 16px;
    font-size: 44px;
  }
  p {
    max-width: 20h;
    font-size: 20px;
    gap: 24px;
    word-spacing: 5px;
    line-height: 2;
  }
  @media (max-width: 850px) {
    .wrapper {
      display: block;
      text-align: center;
      p {
        margin-inline: auto;
      }
    }
  }
}

.footer {
  background-color: #b3b3b3;
  color: white;
  font-size: 16px;
  // align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    list-style: none;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
  h2 {
    margin-bottom: 16px;
    margin-top: 2px;
  }
  li {
    margin-bottom: 6px;
  }
}
#column1 {
  margin-top: 46px;
}
#column2 {
  margin-top: 46px;
}
